@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body {
  font-family: 'Jost', sans-serif;
}

.app {
  background-color: #fbe163;
  padding-bottom: 200px;
}

.app-container {
  max-width: 1280px;
  margin: auto;
}

.nav-container {
  position: sticky;
  top: 0;
  background-color: #fbe163;
}